.App {
  min-height: 100vh;
  text-align: center;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img.no-results {
  width: 100%;
}

.stores {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.food-truck {
  width: 65%;
  padding: 2em 1em;
  margin-bottom: 2em;
  background-color: #F0F8FF;
  color: #1E9EC1;
  border: solid 4px #6DB4BE;
  border-radius: 14px;
  box-shadow: 0 0 24px 4px #00BCD4
}

.food-truck > .name {
  font-size: 1.35em;
  font-weight: bold;
}

.food-truck > .address {
  font-size: 1.2em;
  font-weight: 600;
}

.menu-items {
  margin: 1em;
  font-size: 1.2em;
  text-align: left;
}
